@use '@angular/material' as mat;

$text-color: #2c3e50;
$light-gray: #f4f4f4;
$background-color: #fff;

:root {
  --primary: #3f51b5;
  --primary-hover: #2d3d96;
  --text-color: #2c3e50;
  --light-gray: #f4f4f4;
  --background-color: #fff;
}

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
  ));
}

body {
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
